extends ../layout

block content
  div.container
    div.center.p4
      if error
        div.bold.center.p2.mb2.white.bg-red.rounded
          span=error
      form(action='/teams/#{team.name}', method='POST')
        label.left Email
        input.block.field-light.full-width(type='email', placeholder="Email address", name='email', value=team.email)
        label.left URL
        input.block.field-light.full-width(type='text', placeholder='Single sign-on URL', name='url', value=team.url)
        label.left Team name
        input.block.field-light.full-width(type='text', placeholder='Team name', name='name', value=team.name)
        label.left Shared secret (be careful if you change this, and be sure to update the secret on your server)
        input.block.field-light.full-width(type='text', placeholder='Shared secret', name='secret', value=team.secret)
        button.button.button-blue.left(type='submit') Save
